<launch>

<rosparam file="$(find multirobot_stage)/launch/robot_map_merge_params.yaml" command="load"/>

<group ns="map_merge">
  <node pkg="multirobot_map_merge" type="map_merge" respawn="false" name="map_merge">
    <param name="robot_map_topic" value="map"/>
    <param name="robot_namespace" value=""/>
    <param name="merged_map_topic" value="map"/>
    <param name="world_frame" value="world"/>
    <param name="known_init_poses" value="true"/>
    <param name="merging_rate" value="0.5"/>
    <param name="discovery_rate" value="0.05"/>
    <param name="estimation_rate" value="0.1"/>
    <param name="estimation_confidence" value="1.0"/>
  </node>
</group>

  <arg name="parent_frame" value="world"/>
  <arg name="child_frame" value="map"/>
  <arg name="dx" value="30"/>
  <arg name="dy" value="30"/>
  <arg name="dz" default="0"/>
  <arg name="dyaw" default="0"/>
  <arg name="dpitch" default="0"/>
  <arg name="droll" default="0"/>  
  <node pkg="tf" type="static_transform_publisher" name="$(arg parent_frame)_to_$(arg child_frame)" args="$(arg dx) $(arg dy) $(arg dz) $(arg dyaw) $(arg dpitch) $(arg droll) $(arg parent_frame) $(arg child_frame) 100"/>
</launch>
