<launch>
  <arg name="nRob" default="1"/>
  <arg name="headless" default="false"/>
  <arg name="method" default="NE"/>
  <arg name="mode" default="learning"/>
  <arg name="rviz_config" default="multirobot_stage"/>

  <rosparam command="load" file="$(find multirobot_stage)/scripts/learning_params.yaml"/>
  <param name="learning/nRob" value="$(arg nRob)"/>
  <param name="learning/method" value="$(arg method)"/>
  <param name="learning/mode" value="$(arg mode)"/>
  <param name="headless" value="$(arg headless)"/>

  <!-- <node pkg="multirobot_stage" type="multiRobotNE" name="multirobot_NeuroEvol" output="screen"/> -->
  <node pkg="multirobot_stage" type="multiRobotPG" name="multirobot_PolicyGrad" output="screen"/>

  <!-- Visualize -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find multirobot_stage)/launch/$(arg rviz_config).rviz"/>
</launch>
